@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');



.Fraunces900{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: #000000;
}

.Fraunces700{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #000000;
}

.Barlow600{
    font-family: "Barlow", Serif;
    font-weight: 600;
    color: #000000;
}

:root{
    --Grayish-blue: hsl(210, 4%, 67%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --dark-green: hsl(167, 40%, 24%);
    --light-green: hsl(168, 34%, 41%);
    --dark-blue-graish: hsl(232, 10%, 55%);
    --light-green2: #8DCFC0;
}

body{
    min-height: 100vh;
    margin: 0px;
}


#we-are-creatives-section {
    background-image: url("images/desktop/image-header.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    min-height: 412px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    align-items: center;
    height: 67px;
}

.fourColumnsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
}

.menu-navbar{
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
}

.menu-navbar > span{
    margin-right: 30px;
    cursor: pointer;
}

.contact-btn {
    cursor: pointer;
    background-color: white;
    color: var(--Very-dark-desaturated-blue);
    padding: 12px 23px;
    border-radius: 33px;
    transition: all 0.25s;
    font-size: 13px;
}

.contact-btn:hover{
    background-color: #6ECFFC;
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex-grow: 1;*/
    justify-content: center;
    align-content: center;
    position: relative;
    top: 99px;
}

.Header-Main-Heading{
    font-size: 50px;
    letter-spacing: 7px;
    color: white;
}

.Header-Arrow {
    margin-top: 67px;
}

.page-wrapper-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transform-your-brand-section{
    background-color: #FFFBF8;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.yellow-rod{
    padding: 3px 0px;
    background-color: #FEEAB7;
    width: 106%;
    height: 1px;
    position: relative;
    bottom: 6px;
    border-radius: 18px;
    transition: all 0.25s;
    left: -3px;
}

.left-side-btn:hover > .yellow-rod{
    background-color: #F0CD00;
}

.text-side-wrapper, .section-side-image-wrapper{
    flex: 1;
}

.section-side-image-wrapper{
    margin-bottom: -4px;
}

.text-side-wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-side-image{
    width: 100%;
    min-width: 295px;
}

.left-side-heading{
    color: var(--Very-dark-desaturated-blue);
    font-size: 184%;
    width: 300px;
}

.left-side-text > *{
    margin-top: 20px;
}

.left-side-paragraph{
    color: var(--dark-blue-graish);
    width: 380px;
    font-size: 125%;
}

.left-side-btn{
    color: var(--Very-dark-desaturated-blue);
    font-size: 108%;
    cursor: pointer;
}

.left-side-btn-label{
    z-index: 2;
    position: relative;
}

.left-side-text{
    position: relative;
    /*left: 80px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stand-out-section {
    background-color: #FFFBF8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /*top: -4px;*/
}

.section-4-wrapper{
    display: flex;
    flex: 1;
    /*position: relative;*/
    /*top: -8px;*/
}

.section-4-img{
    width: 100%;
}

.section-4-image-wrapper{
    background-size: contain;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 0;
    padding-top: 42%;
}

.cherry-background{
    background-image: url("images/desktop/image-graphic-design.jpg");
}

.orange-background{
    background-image: url("images/desktop/image-photography.jpg");
}
/*l*/
.section-4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 165px;
    width: 47%;
    left: 27%;
    text-align: center;
}

.section-4-cherry-heading{
    color: #235248;
    font-size: 23px;
}
.section-4-cherry-paragraph{
    color: #3B7567;
    overflow: hidden;
    max-height: 90px;
}

.section-4-orange-heading{
    color: #1E5168;
    font-size: 23px;
}
.section-4-orange-paragraph{
    color: #135F81;
    overflow: hidden;
    max-height: 116px;
}

.four-pics-section{
    display: flex;
}

.fifth-strip-img {
    flex: 1;
    width: 100%;
}

.red-rod{
    padding: 3px 0px;
    background-color: #FFDFDA;
    width: 106%;
    height: 1px;
    position: relative;
    bottom: 6px;
    border-radius: 18px;
    transition: all 0.25s;
    left: -3px;
}

.left-side-btn:hover > .red-rod{
    background-color: #F97761;
}

.testinomials-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #FFFBF8;
}

.client-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-testinomial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-cards-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encircle {
    border-radius: 100%;
    width: 50%;
}

.client-role {
    color: var(--Grayish-blue);
    font-size: 78%;
    padding-top: 8%;
}

.client-paragraph {
    color: #616266;
    text-align: center;
    width: 81%;
    font-size: 90%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.testinomials-heading {
    color: var(--Grayish-blue);
    margin-bottom: 5%;
    font-size: 111%;
    letter-spacing: 4px;
}

.client-name{
    font-size: 97%;
}

.thomas-paragraph{
    width: 70%
}
