@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root{
    --Grayish-blue: hsl(210, 4%, 67%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
}

body{
    min-height: 100vh;
    margin: 0px;
}


#header-strip {
    background-image: url("images/desktop/image-header.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 844px;
    width: 1519px;
}

.logoImg{
    position: relative;
    top: 28px;
    left: 25px;
}

.fourColumnsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
}

.headerNavBar{
    position: relative;
    left: 1101px;
    width: 297px;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    text-align: center;
    color: white;
}

.Fraunces900{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: white;
}

.Fraunces700{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: white;
}

.Barlow600{
    font-family: "Barlow", Serif;
    font-weight: 600;
    color: white;
}

.Header-Main-Heading{
    top: 148px;
    position: relative;
    left: 460px;
    font-size: 56px;
    width: 606px;
}

.Header-Arrow {
    position: relative;
    left: 741px;
    top: 181px;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-strip{
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    position: relative;
}

.egg {
    position: absolute;
    right: 0px;
    top: 0px;
}


.second-strip-heading {
    color: var(--Very-dark-desaturated-blue);
    position: absolute;
    left: 202px;
    width: 32%;
    top: 165px;
    font-size: 44px;
}

.second-strip-paragraph {
    color: var(--Grayish-blue);
    width: 27%;
    position: absolute;
    top: 316px;
    left: 202px;
    line-height: 26px;
}

.transform-your {
    position: relative;
}

.second-strip-button{
    position: absolute;
    top: 444px;
    left: 203px;
    background-color: transparent;
    border: transparent;
    color: var(--Very-dark-desaturated-blue);
    font-size: 16px;
    z-index: 2;
}

.light-yellow-effect{
    background-color: hsla(51, 91%, 70%, 0.86);
    width: 124px;
    position: absolute;
    top: 456px;
    left: 202px;
    height: 10px;
    border-radius: 27px;
}

