@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@900&display=swap');

body{
    min-height: 100vh;
    margin: 0px;
}


#headerImg {
    background-image: url("images/desktop/image-header.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 844px;
}

.logoImg{
    position: relative;
    top: 28px;
    left: 25px;
}

.fourColumnsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
}

.headerNavBar{
    position: relative;
    left: 1101px;
    width: 297px;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    text-align: center;
    color: white;
}

.Fraunces900{
    font-family: 'Fraunces', serif;
    color: white;
}

.Header-Main-Heading{
    top: 148px;
    position: relative;
    left: 460px;
    font-size: 56px;
    width: 606px;
}

.Header-Arrow {
    position: relative;
    left: 741px;
    top: 181px;
}

